body {
  background: linear-gradient(120deg, #78bee7, #aae0ff, #ffffff);
  background-size: 400% 400%;
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-clip: text;
  -webkit-background-clip: text;
  animation: aurora 15s ease infinite;
}

@keyframes aurora {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@import url('https://fonts.googleapis.com/css?family=Urbanist:400,600,700');

.text {
  font-family: 'Urbanist', sans-serif;
  color: gray;
  font-weight: 600;
}

.subtext {
  font-family: 'Urbanist', sans-serif;
  color: #e0e3e7;
}

.bottomtext {
  position: static;
  padding: 20px;
  font-family: 'Urbanist', sans-serif;
  color: black;
}

.icon {
  display: center;
  height: 170px;
  width: 170px;
  align-self: center;
}

.icon:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.container {
  position: static;
  width: 380px;
  height: 320px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #48484a;
  border-radius: 30px;
  box-shadow: 0px 5px 0px 5px #ccc;
  padding: 50px 5px 5px;
}
